@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:wght@200;300;400;600;700;800&family=PT+Sans:wght@400;700&display=swap');


/* ------------------------------------- Nav Bar */

nav img {
    max-width: 75px;
    height:auto;
    margin-left: 25px;
}
.navbar ul {
    margin-right: 25px;
    font-weight: 700;
}
.navbar-toggler{
    margin-right: 25px;
    border: none;
}

.fas {
    color:#ffffff;
    font-size:28px;
}

#navbarNavDropdown {
    padding-left: 20px;
}

.nav-link {
    color: #ffffff;
}

.active .nav-link {
    color:#e9c431;
}

.navbar-black {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    --bs-navbar-hover-color: #e9c431;
}

.nav-link:hover {
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

nav img:hover{
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

.whatsapp {
    color: #ffffff;
    font-size: 34px;
}

.whatsapp:hover {
    color:#e9c431;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
/* ------------------------------------- Body */

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    background-color: #f1f1f1;
}

.button {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 31px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    display:inline-block;
}

.button:hover {
    background-color: #e9c431;
    color: #000000;
    border-width: 0;
}
.btn.btn-dark:hover {
    background-color: #e9c431;
    color: #000000;
    border-width: 0;
}


/* ------------------------------------- Footer */

.footer {
    background-color: #000000;
    max-height: auto;
    padding: 0;
}

.contact-details p{
    display: inline;
    padding-right: 20px;
}

.contact-details{
    color:#ffffff;
    
}

.footer .col-8 {
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.email{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.email:hover{
    color: #e9c431;
}

.footer li {
    list-style: none;
}

.fa-solid {
    padding-right: 5px;
}

.social-links{
    float:right;
    padding-right: 50px;
    padding-top: 15px;
}

.social-links li a i {
    color:#ffffff;
    font-size: 2em;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.social-links li a i:hover {
    color:#e9c431;
}
/* ------------------------------------- INDEX */

/* ------------------------------------- Hero Image */

.hero {
    height: 75vh;
    background: url("../images/hero-1-sat.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top 100px;
    position: relative;
}

.hero img {
    align-items: center;
    height: 20vh;
    z-index: 1;
}

.hero-button {
    display: block;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 15rem;
}

.button {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* ------------------------------------- Club Intro */

.club-intro{
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #000000;
    color:#ffffff;
}

.club-intro-text{
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.club-intro h2{
    font-weight: 700;
}

.club-intro img {
    height: 100px;
    width: auto;
}

/* ------------------------------------- Carousel */

/* ------------------------------------- Reviews */

.container-color{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
}

.reviews {
    margin-top: 25px;
    margin-bottom: 25px;
}

.reviews img {
    height: 75px;
    width: auto;
    border: solid 2px #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #726a6a;
    margin-top: 20px;
    margin-bottom: 15px;
}

.fa {
    color: #e9c431;
    margin-bottom: 10px;
}

.read {
    text-decoration: none;
    color: #807c7c;
    margin-top: -20px;
}

.read:hover{
    color: #e9c431;
}
/* ------------------------------------- Map */

.map {
    height: 400px;
    width: 100%;
}

.map iframe {
    height: 400px;
    width: 100%;
}

.map {padding: 0;
}

/* ------------------------------------- ABOUT */

.about-container{
    height: auto;
}

.about-container h2{
    font-weight: 700;
    margin-top: 50px;
}

.fa-medal {
    font-size: large;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color:#CD7F32;
}

.name-link {
    text-decoration: none;
    color:#000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.silver2:hover {
    color:#C0C0C0
}

.bronze2:hover {
    color:#CD7F32
}

.image-link {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.image-link:hover{
    filter: grayscale(50%);
    cursor: pointer;
}

.about-container img {
    height: 300px;
    width: auto;
    filter: grayscale(0.5);
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 5px #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #726a6a;
}

.about-text{
    margin-bottom: 50px;
    max-width: 75%;
    margin: 5rem auto;
    position: relative;
}

.wandsbc {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.wandsbc:hover{
    color: #e9c431;

}

.about-text hr {
    max-width: 50vh;
    margin: 50px auto;
    padding-bottom: 10px;
}

/* ------------------------------------- TEAM */

.team-title {
    background-color: #595959;
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
}

.team-title h2{
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
}

.coaches img {
    height: 150px;
    width: auto;
    filter: grayscale(0.75);
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 5px #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #726a6a;
}

.coach{
    padding-left: 40px;
    padding-right: 40px;
}

.coach h5 {
    font-weight: 700;
}

.coach .button {
    margin-bottom: 50px;
}

.coaches a{
    text-decoration: none;
    color: #ffffff;
}

.coaches a:hover{
    color: #000000;
}

.coaches span {
    font-weight: 400;
}

#team-footer {
    margin-top: 30px;
}

/* ------------------------------------- PRICES */

.prices-body {
    background-color: #e1e0e0;
}

.prices-title-header {
    background-color: #595959;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.prices-title-header h2{
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
}

.prices-title h3 {
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    Color: #a51e1e;
}

.prices-body footer {
    margin-top: 60px;
}

.prices-body h3{
    font-weight: 700;
}

.prices-body h5{
    color:#a51e1e;
    font-weight: 700;
}

.prices-flex p{
    color: #595959;
}

.prices-flex{
    display: flex;
    justify-content: center;
}

.container-box {
   border: 1px solid;
   border-color: #bcbcbc;
   max-width: 400px;
   width: 75%;
   height:auto; 
   padding: 30px;
   background-color: #f0eeee;
   box-shadow: 2px 2px 4px #726a6a;
   display: flex;
   justify-content: center;
   margin: 2em auto;
}

.prices-hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.prices-flex .button:hover {
    background-color:#a51e1e;
    color:#ffffff;
}

/* ------------------------------------- SCHEDULE */

.schedule-title {
    background-color: #595959;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.schedule-title h2 {
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
}

#left {
    float: left;
    padding-left: 30px;
}

#left i {
    padding-right: 5px;
}

#right i {
    padding-left: 5px;
}

#right {
    float: right;
    padding-right: 30px;
}

.week-cursor a{
    text-decoration: none;
    color: #595959;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.week-cursor a:hover {
    color:#a51e1e;
}

.schedule-style th {
    background-color: #000000;
    padding: 2em;
    color: #C0C0C0;
    background-clip: content-box;
}

.schedule-style tr {
   height: 150px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.table td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.schedule-body footer {
    margin-top: 60px;
}

.modal-text {
    font-weight: 700;
    color:#a51e1e;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}
td h4 {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
td h4:hover{
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 2px 2px 4px #726a6a;
}

td p {
    margin: 15px;
}

.schedule-style .button {
    margin: 0 10px;
}

/*---- MODAL ----*/

.modal {
    background-color: rgba(187, 187, 187, 0.5);
}

.modal-content {
    background-color: #000000;
    color:#C0C0C0;
    border-width: 1px solid;
}

.modal-content h5 {
    padding-top: 15px;
}

/* ------------------------------------- Contact */

.contact-body{
    background-color: #000000;
    flex-grow: 1;
}

.contact-title {
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #C0C0C0;
}

.form-container {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 80vh;
    height: auto;
    margin: 0 5%;
    border: #C0C0C0 solid 2px;
    padding: 20px;
    display: inline-block;
    text-align: left;
}

#fullname {
    width: 100%;
    margin: 5px 0 20px 0;
}

#emailaddress {
    width: 100%;
    margin: 5px 0 20px 0;
    text-align: left;
}

#subject {
    margin: 5px 0 20px 0;
}


#message {
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
}

#form-btn {
    text-align: center;
}

.contact-footer{
   padding-top: 60px;
}

/* ------------------------------------- Media Queries */

@media screen and (max-width: 1428px){
    .table{
        overflow-x: auto;}
}

@media screen and (max-width:1143px){
    .contact-details p {
        display:list-item;
        list-style-type: none;
    }
}

@media screen and (min-width:1025px){
    .intro-text{
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width:820px) and (max-width:912px){
    .hero-btn{
        margin-top: 20em;
    }
}

@media screen and (max-width:820px){
    .hero {
        height: 50vh;}
    .contact-details .hidden {
        display: none;
    }
    .form {
        width: 400px;
    }
}

@media  screen and (max-width:768px){
    .container img{
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width:480px){
    .hidden{
        display: none;
    }
    .btn.btn-dark {
        width: 125px;
    }
    .hero-btn {
        font-weight: none;
    }
    .container img{
       height: 125px;
       width: auto;
       border-width: 4px;
    }
    .form {
        width: 300px;
    }
}

@media screen and (max-width:280px){
    .reviews .hidden{
        display: none;}
    .hero-btn {
        margin-top: 175px;
    }
    .btn.btn-dark{
        margin-bottom: 10px;
    }
    .hero img {
        height: 15vh;
        margin-bottom: 25px;
    }
    .social-links{
        display: none;
    }
    .container img{
        height: 100px;
        width: auto;
        border-width: 2px;  
    }
    .week-cursor i{
            display: none;
    }
    .form {
        width: 250px;
    }
}